{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-1",
    "flow"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "stage-1",
        "flow"
      ]
    },
    "esmodule": {
      "presets": [
        ["env", { "modules": false }],
        "stage-1",
        "flow"
      ]
    },
    "commonjs": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "stage-1",
        "flow"
      ]
    }
  }
}
