{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }],
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "modules": "commonjs" }],
        "@babel/preset-flow"
      ]
    },
    "esmodule": {
      "presets": [
        ["@babel/preset-env", { "modules": false }],
        "@babel/preset-flow"
      ]
    },
    "commonjs": {
      "presets": [
        ["@babel/preset-env", { "modules": "commonjs" }],
        "@babel/preset-flow"
      ]
    }
  }
}
